.button {
    position: relative;
    width: 80px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: rgb(116, 221, 139);
    /* display: none; */
}

.error {
    position: relative;
    color: red;
    font-size: 10px;
}