@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Dancing+Script&family=Oswald:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.App {
    height: 955px;
    width: 100%;
    background-color: rgb(237, 215, 250);
}

.wrapper {
    /* margin: 0 auto; */
    width: 1200px;
}

.save-as-image {
    width: 80px;
    height: 30px;
}
